@import url(https://fonts.googleapis.com/css?family=Dosis);

/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, 
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, 
i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, 
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, 
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  /*background-color: #000044 !important;*/
  /*color: #fff !important;*/
}
ul {
  list-style: none;
}
.container {
 /* display: flex;
  flex-wrap: wrap;*/
}

.current-round-list {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  font-size: 20px;
  padding: 15px;
  float: right;
  border: 1px solid #f5f5f5;
}
.stats {
  display: inline-block;
  width: 15%;
  border: 1px solid #f5f5f5;
}
.history-score-list {
  display: inline-block;
  vertical-align: middle;
  padding: 15px;
  width: 15%;
  border: 1px solid #f5f5f5;
/*  height: 300px;
  overflow: auto;*/
}
.history-score-list li{
  text-align: center;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
  padding: 2px 0;
}
.current-score {
  display: inline-block;
  vertical-align: middle;
  width: 40%;
  font-size: 130px;
  padding: 15px;
  text-align: center;
}

.player-list {
  width: 100%;
  padding: 15px;
}
.player {
 display: inline-block; 
 font-size: 20px;
 padding: 15px;
}
.player.active {
  background-color: #eee;
}
.current-player {
  text-align: center;
  font-size: 32px;
  width: 100%;
}
.score-btn-list {
  width: 100%;
}
.score-btn-list li {
  display: inline-block;
  border: 4px solid #fff;
  width: 10%;
  text-align: center;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.score-btn-list li.active {
  background-color: #eee;
}
.score-btn-list li button{
  cursor: pointer;
  font-size: 16px; 
  padding: 10px 5px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
  border: none;
  text-align: center;
  width: 100%;
}

.score-btn-list li button:hover{
  background-color: #eee;
  border: none;

}
.btn-special {
  background-color: #bbb;
}
.btn-single {

}
.btn-double {
  background-color: #efe;
}
.btn-triple {
  background-color: #fee;
}
.fontRed {
  color: #DD0000;
}