@import url(https://fonts.googleapis.com/css?family=Dosis);

/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, 
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, 
i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, 
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, 
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  /*background-color: #000044 !important;*/
  /*color: #fff !important;*/
  font-family: Arial;
  background-color: #fafafa;
}
ul {
  list-style: none;
}
.container {
 /* display: flex;
  flex-wrap: wrap;*/
}
.top {
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  margin-top: 25px;
}
.hint {
  text-align: center;
  font-size: 18px;
}
.hint span{
  padding: 0 15px;
}
.current-round-list {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  padding: 15px;
  float: right;
  min-width: 180px;
  padding-left: 25px;
}
.current-round-list li {
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.current-round-list li.active {
  background-color: #eee;
}
.stats {
  display: inline-block;
}
.history-score-list {
  display: inline-block;
  vertical-align: middle;
  padding: 15px;
  min-width: 80px;
/*  height: 300px;
  overflow: auto;*/
}
.history-score-list li{
  text-align: center;
  font-size: 15px;
  border-bottom: 1px solid #ccc;
  padding: 2px 0;
  min-width: 80px;
}
.current-score {
  display: inline-block;
  vertical-align: middle;
  font-size: 130px;
  padding: 15px;
  text-align: center;
  margin: 0 50px;
}
.criket-score-board {
  display: inline-block;
  vertical-align: middle;
  width: 40%;
  font-size: 130px;
  padding: 15px;
  text-align: center;
}
.criket-score-board .player{
  font-size: 28px;
  padding: 8px 4px;
}

.player-list {
  width: 100%;
  padding: 15px;
  text-align: center;; 
}
.player {
 display: inline-block; 
 font-size: 24px;
 padding: 15px;
}
.player.active {
  background-color: #eee;
}
.current-player {
  text-align: center;
  font-size: 32px;
  width: 100%;
}
.setting-list {
  margin-top: 30px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;  
}
.setting-list li {
  display: inline-block;
  margin: 4px;
  padding: 4px;
  text-align: center;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  transition: all .15s;
  white-space: nowrap;
}
.setting-list li.active {
  background-color: #ccc;
}

.score-btn-list {
  padding: 15px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.score-btn-list li {
  display: inline-block;
  margin: 4px;
  width: calc(10% - 8px);
  text-align: center;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  transition: all .15s;
  white-space: nowrap;
}

.score-btn-list li button{
  cursor: pointer;
  font-size: 16px; 
  padding: 10px 5px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
  border: none !important;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.score-btn-list li:hover{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
  transform: translateY(-1px);
}

.total-list {
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  transform: translateX(-100%);
  transition: all .6s;
  background-color: rgba(0,80,80,.7);
  opacity: 1;
  padding: 30px 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.total-list.active {
  transform: translateX(0);
  opacity: .9;
  
}
.total-list__player {
  background-color: #f5f5f5;
  text-align: center;
  margin: 5px;
  padding: 5px 15px;
}
.total-list__toggle {
  background-color: #eee;
  position: fixed;
  float: right;
  top: 10px;
  left: 10px;
  padding: 15px;
  border-radius: 100px;
  transition: all .3s;
  z-index: 1;
}
.total-list__toggle:hover{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
  transform: translateY(-1px);
}

.total-list__round {
}
.total-list span{
  display: inline-block;
  width: 40px;
}

.total-list__score {
  display: inline-block;
  padding: 0 2px;
  font-size: 14px;
  color: #555;
}
.dartboard {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 5px 6px 14px 0 rgba(0,0,0,0.26),0 2px 10px 0 rgba(0,0,0,0.22)!important;
}

.dartboard-hidden {
  visibility: hidden;
  position: absolute;
}

.input-area {
  position: relative;
}
.input-area .dartboard {
  display: none;
}
.input-area.input-area-board .dartboard {
  display: block;
}
.input-area-board .score-btn-list{
  display: none;
}

.btn-special {
  background-color: #ccc;
}
.btn-single {

}
.btn-double {
  background-color: #eee;
}
.btn-triple {
  background-color: #ddd;
}
.font-red {
  color: #DD0000;
}
.fs14 {
  font-size: 14px;
}
.w40 {
  width: 38px;
}
.font-red button{
  color: #dd0000;
}
.hidden {
  display: none !important;
}


/* count img */

.count-img {
  width: 100%;
  box-sizing: border-box;
  padding-top: 100%;
  border: 1px solid;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}
.count-img:after {
  content: '';
  position: absolute;
  border-top: 1px solid;
  width: 140%;
  transform: rotate(-45deg);
  left:-20%;
  top: 50%;
  
}
.count-img:before {
  content: '';
  position: absolute;
  border-top: 1px solid;
  width: 140%;
  left:-20%;
  top: 50%;
  transform: rotate(45deg);
}
.count-img-1 {
  border-color: transparent;
}
.count-img-1:after {
  opacity: 0;
}
.count-img-2 {
  border-color: transparent;
}

@media(max-width: 568px) {
  .player {
    padding: 5px;
  }
  .score-btn-list {
    width: 100%;
  }
  .score-btn-list li {
    white-space: initial;
  }
  .current-round-list {
      font-size: 16px;
      min-width: 113px;
      padding-right: 0;
      padding-left: 15px;
  }
  .criket-score-board {
    padding: 0;
  }
  .criket-score-board .player {
      font-size: 18px;
      padding: 8px 4px;
  }
  .history-score-list {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    min-width: 80px;
  }
  .history-score-list li{
    text-align: center;
    font-size: 15px;
    border-bottom: 1px solid #ccc;
    padding: 2px 0;
    min-width: 60px;
  }
  .current-score {
      font-size: 38px;
      margin: 0 20px;
  }


  .s-hide {
    display: none !important;
  }
  .w40 {
    width: 28px;
  }
}

@media(max-width: 400px) {
  .dartboard {
    width: 300px;
    height: 300px;
  } 
}





.next-player-mask {
  color: #666;
  display: flex;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  font-size: 60px;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.3);
  animation: nextPlayer 3s ease-in-out;
}
@keyframes nextPlayer {
  0% {opacity: 0.5; transform: translateY(0)}
  30% {opacity: 1; transform: translateY(0)}
  50% {opacity: 0.5; transform: translateY(0)}
  80% {opacity: 1; transform: translateY(0)}
  100% {opacity: 0; transform: translateY(-1000px)}
}

.example-enter {
  opacity: 0.01;
  width: 0px;
}

.example-enter.example-enter-active {
  opacity: 1;
  width: 80px;
  transition: 700ms;
}

.example-leave {
  opacity: 1;
  width: 200px;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  width: 0px;
  transition: 700ms;
}