$h3_1: #2196F3;
$h3_2: #4CAF50;
$h3_3: #FF9800;
$h3_4: #D32F2F;

$h3_1: lightseagreen;
$h3_2: lightseagreen;
$h3_3: lightseagreen;
$h3_4: lightseagreen;

/**
 * for layout
 */
$header_height: 52px;
$header_padding: 5px;
$header_active_color: rgba(255,255,255,.9);
$theme_red: #de6b6f;

/**
 * for index
 */
$laptop-color: #FFF;
$laptop_wing_width: 100px;
$laptop_wing_height: 40px; /* 高度為此值除以2 */
$second-block-bgc: #e4e4e4;
$fourth-block-bgc: $second-block-bgc;

/**
 * for tool_index
 */
 $fixed_video_width: 320px;
 $fixed_video_height: 180px;